@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('http://fonts.googleapis.com/earlyaccess/lohitdevanagari.css');
@import "react-slideshow-image/dist/styles.css";

#torqafflogo {
    border-radius: 0%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
}


/* @media (max-width: 640px){
    #slider{
        object-fit: contain;
    }
} */
#slider .inner-div {
    display: flex;
    overflow-x: auto;
}

#slider .inner-div > div {
    object-fit: cover; /* Or 'contain' for a different behavior */
}
