@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



#torqafflogo {
    border-radius: 0%;
    animation: moveUp 30s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes moveUp {
    0%, 100% {
        transform: translateY(0px); /* Start and end position */
    }
    50% {
        transform: translateY(-100px); /* Middle position, adjust the distance as needed */
    }
}
  

.slider {
	background: white;
	height: 200px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 960px;
}

.slider::before,
.slider::after {
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 14);
	gap: 65px;
}

.slide {
	height: 80px;
	object-fit: cover;
}

.slide img {
	height: 100%;
	width: 100%;
	object-fit: cover;

}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
